#lidar1

ACTION=="add",KERNELS=="1-2.1",SUBSYSTEMS=="usb",MODE:="0666",SYMLINK+="LHLiDAR"

#lidar2

ACTION=="add",KERNELS=="1-2.2.2",SUBSYSTEMS=="usb",MODE:="0666",SYMLINK+="LiDAR"

#serial

ACTION=="add",KERNELS=="1-2.4",SUBSYSTEMS=="usb",MODE:="0666",SYMLINK+="SERIAL"

#imu

ACTION=="add",KERNELS=="1-2.3",SUBSYSTEMS=="usb",MODE:="0666",SYMLINK+="IMU"

#tvs

#ACTION=="add",KERNELS=="1-2.2.3",SUBSYSTEMS=="usb",MODE:="0666",SYMLINK+="TVS"
